$footer_background: #162C4E;
$main-btn_background: #1D4169;
$internal-btn_background: #DF2224;
$title: #a4adba;
$text: rgba(0, 0, 0, 0.8);
$input: rgba(0, 0, 0, 0.6);
$timer: #162C4E;
$modal-title: #162C4E;