$breakpoint_large-screens: 1600px;
$breakpoint_midle-screens: 1200px;
$breakpoint_small-screens: 1024px;
$breakpoint_tablets: 768px;
$breakpoint_mobile: 576px;
$breakpoint_small-mobile: 360px;

@mixin large-screens() {
    @media (max-width: $breakpoint_large-screens) {
        @content;
    }
}

@mixin midle-screens() {
    @media (max-width: $breakpoint_midle-screens) {
        @content;
    }
}

@mixin small-screens() {
    @media (max-width: $breakpoint_small-screens) {
        @content;
    }
}

@mixin tablets() {
    @media (max-width: $breakpoint_tablets) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: $breakpoint_mobile) {
        @content;
    }
}

@mixin small-mobile() {
    @media (max-width: $breakpoint_small-mobile) {
        @content;
    }
}